body {
    background-color: #1b4769;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-image: #1b4769;
    color: #fefefe;
    
}
.logo {
    float: center;
    height: 10%;
    width: 10%;

}

/* LOGIN BUTTON */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    overflow: auto;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}


.avatar {
    width: 40%;
    border-radius: 50%;
    padding-left: 30%;
}

.box input[type=text], .box input[type=password], .box input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login, .register {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

.cancel {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

/*MESSAGE AFTER REGISTRATION*/  

.message {
    display: none;
    background-color: #dff0d8;
    color: #3c763d;
    text-align: center;
}

.container {
    padding: 16px;
}

.fp {
    float: right;
    padding-top: 16px;
    color: white;
}

header h1 {
    margin: 0;
    
}

.parallax_1 {
    background-image: url("campus_parallax.jpg");
    height: 500px; 
    width: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_text_1 {
    font-size: xx-large;
    color: wheat;
    padding-top: 15%;
    padding-left: 10%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.parallax_2 {
    background-image: url("parallax2.png");
    height: 500px; 
    width: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.parallax_button_2 {
    justify-content: center;
    color: white;
    border-color: #75a4c5;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid #fff;
    background: #004aad;
    display: inline-block;
    padding: 15px;
    
}



.message {
    display: none;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

nav {
    list-style: none;
    background-image: #1b4769;
    padding-left: 25%;
}


/* Dropdown text */
.dropbtn {
    font-size: 16px;
    margin-right: 20px;
    color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #0ca53ae7;}

.campus_background {
    width: 100%;
    height: 25%;
    background-color: #75a4c5;
}

.campustext{ 
    float: left;
    text-align: center;
    padding: 2%;
    margin-top: 10%;
    margin-left: 5%;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
}


/* IMG SCROLL CODE */

.img-scroll {
    display: flex;
    overflow-x: auto;
    width: 60%;
    height: 25%;
    margin-left: 40%;
}

.img-scroll img {
    height: auto;
    max-width: 100%;
}

/* IMG SCROLL CODE END */
.mission-vission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.missionpic {
    height: 250px;
    width: 280px;
}
.missionpic:hover {
    transform: scale(1.5);
}

.visionpic {
    height: 250px;
    width: 280px;
}
.visionpic:hover {
    transform: scale(1.5);
}
.corepic {
    height: 250px;
    width: 280px;
    padding-top: 265px;
} 
.corepic:hover {
    transform: scale(1.5);
}


main {
    color: aliceblue;
    padding: 20px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.maintable {
    margin-left: 40%;
    border: white;
    color: white;
    border-width: 5%;
    border-style: solid;
    width: 40%;
    margin-bottom: 5%;
}

.boxtable {
    width: 350px;
}

.sumbitenrollmentform {
    height: 50%;
    width: 100%;
    background-color: #04a96d;
    color: white;
    margin-left: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}

.top-button {
    background-color: #04a96d;
    height: 35px;
    width: 71px;
}

.top-bar {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}